@import 'tailwindcss';

:root {
  /* *Primitives tokens */
  --palette-neutral-50: #f8f9fa;
  --palette-neutral-950: #0e1013;

  --palette-yellow-500: #f7c518;
  --palette-blue-500: #3355ff;
  --palette-orange-500: #f87a55;
}

@theme inline {
  /* *Semantic tokens */
  --color-canvas: var(--palette-neutral-950);
  --color-foreground: var(--palette-neutral-50);

  --color-primary: var(--palette-blue-500);
  --color-secondary: var(--palette-yellow-500);
  --color-tertiary: var(--palette-orange-500);
}
